.article {
  &__title {
    margin: 0;
    margin-bottom: 6px;

    a {
      display: block;

      @include font-set(16px, 19px, bold, $blue-btn, left);

      @media (min-width: $tablet-width) {
        font-weight: 500;
        font-size: 18px;
        line-height: 22px;
      }
    }
  }

  &__description {
    margin: 0;

    @include font-set(14px, 18px, normal, $deepgrey, left);

    @media (min-width: $tablet-width) {
      font-weight: 300;
      font-size: 16px;
      line-height: 22px;
    }
  }

  &__date {
    @include font-set(12px, 16px, normal, $deepgrey,left);
    opacity: 0.3;

    @media (min-width: $tablet-width) {
      font-weight: 400;
      font-size: 14px;
    }
  }
}
