.btn {
  display: block;
  padding: 12px 15px;
  margin: 0 auto;
  background-color: transparent;


  @include font-set(13px, 14px, normal, $white, center);

  @media (min-width: $tablet-width) {
    padding: 17px 15px;
    font-size: 18px;
    line-height: 22px;
    font-weight: bold;
  }

  &--news {
    display: none;
  }

  &--feedback {
    font-size: 16px;
    border: 0;
    width: 80%;
    padding-top: 25px;
    padding-bottom: 25px;
    align-self: center;
  }

  &--features {
    min-width: 240px;
    border: 2px solid #123885;
    color: #123885;
    cursor: pointer;

    @media (min-width: $tablet-width) {
      min-width: 376px;
      border-width: 3px;
      margin-left: 0;
    }

    &:hover {
      background-color: $blue-btn;
      color: $white;
    }
  }
}
