.company-nav {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  order: 3;

  @include list-reset;
  margin-bottom: auto;

  @media (min-width: $tablet-width) {
    display: none;
  }

  &__item:not(:first-of-type) {
    padding-left: 11px;
  }

  &__item {
    display: inline-flex;
    vertical-align: middle;

    &::after {
      display: inline-block;
      content: "";
      width: 1px;
      height: 15px;
      margin-top: 4px;
      background-color: rgba(140, 171, 232, 0.8);
    }

    a {
      display: block;
      padding-right: 9px;
      padding-top: 5px;
      padding-bottom: 5px;

      @include font-set(14px, 14px, normal, $white, left);
      opacity: 0.3;

      &:hover {
        color: $yellow;
        opacity: 1;
      }
    }
  }
}
