.features {
  background-color: $lightgrey;
  padding-bottom: 38px;

  &__header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 21px;
  }

  &__title {
    margin-top: 42px;
    @include font-set (16px, 16px, bold, $blue, center);
    width: 200px;
  }

  &__tabs {
    @include list-reset;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
  }

  &__tab {
    width: 80px;

    &::before {
      display: block;
      content: "";
      width: 60px;
      height: 60px;
      margin: 13px auto;
      border-radius: 50%;
    }

    &--retail::before {
      background: url("/img/sprites-features.png") no-repeat $blue;
      background-position: -98px 7px;
    }

    &--wifi::before {
      background: url("/img/sprites-features.png") no-repeat $blue;
      background-position: -267px 7px;
    }

    &--callcenter::before {
      background: url("/img/sprites-features.png") no-repeat $blue;
      background-position: -46px 3px;
    }

    &--logistics::before {
      background: url("/img/sprites-features.png") no-repeat $blue;
      background-position: -389px 7px;
    }
  }

  &__link {
    display: block;

    @include font-set(13px, 16px, 300, $darkgrey, center);
  }

  &__subtitle {
    display: flex;
    margin: 0;
    margin-bottom: 1px;
    padding: 35px 115px 29px 16px;
    background: url("/img/bg-features-mobile.jpg") no-repeat;
    background-size: 100%;

    &::before {
      display: inline-block;
      content: "";
      width: 23px;
      background-color: $yellow;
    }

    @media (min-width: $desktop-width) {
      background: url("/img/bg-features-desktop.jpg") no-repeat;
    }

    a {
      @include font-set (20px, 24px, 500, $blue-text, left);
    }
  }

  &__highlight-text {
    background-color: $yellow;
    padding: 2px 6px;
  }

  &__description {
    margin: 0;
    padding: 20px 20px 23px 0;

    @include font-set (14px, 18px, 300, $deepgrey, left);
  }

  &__content {
    display: none;
    background-color: $grey;

    &--active {
      display: block;
    }
  }

  &__wrapper {
    width: 272px;
    margin: 0 24px;
  }
}
