.form {
  display: flex;
  flex-direction: column;
  padding: 29px 17px 50px;
  background-color: $lightgrey;

  @include font-set(16px, 24px, 300, $deepgrey, center);

  &__input {
    margin: 0 0 15px;
    padding: 17px;
    border: 0;
    background-color: $white;

    &:last-of-type {
      margin-bottom: 20px;
    }

    &--house {
      margin-right: 10px;
    }

    &--message {
      resize: none;
      padding-top: 10px;
      height: 67px;
      margin-top: 8px;
      color: #b3b3b3;
    }

    @include font-set(14px, 21px, 300, #b1b1b1, left);

    &-group--half {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin-top: -6px;
      margin-bottom: 10px;

      .form__input--short {
        width: calc(50% - 7px);
        margin: 0 14px 14px 0;
        margin-right: 14px;

        &:last-child {
          margin-right: 0;
        }
      }
    }
  }

  &__btn {
    padding: 16px;
    background-color: transparent;
    border: 2px solid #123885;
    cursor: pointer;

    @include font-set (16px, 24px, 500, $blue-btn, center);

    &:hover {
      color: $white;
      background-color: #123885;
    }
  }

  &__fieldset {
    display: flex;
    flex-direction: column;
    align-items: stretch;
  }

  &__label {
    @include font-set(14px, 21px, normal, #757575, left);
    margin-bottom: 12px;
  }

  &__footnote {
    @include font-set(12px, 14px, 300, #898989, center);
    padding: 6px 0;
    margin-bottom: 24px;
  }

  &__footer {
    display: flex;
    flex-direction: column;
  }
}
