.form {
  display: none;
  flex-direction: column;
  padding: 29px 17px 50px;
  background-color: $lightgrey;

  @include font-set(16px, 24px, 300, $deepgrey, center);

  @media (min-width: $desktop-width) {
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 40px 36px 50px;
    padding-bottom: 41px;
  }

  &--active {
    display: flex;
  }

  &__input {
    margin: 0 0 15px;
    padding: 17px;
    border: 0;
    background-color: $white;

    @media (min-width: $desktop-width) {
      margin-bottom: 19px;
      width: 42.5%;
    }

    &:last-of-type {
      margin-bottom: 20px;

      @media (min-width: $desktop-width) {
        margin-bottom: 14px;
      }
    }

    &--house {
      margin-right: 10px;
    }

    &--message {
      resize: none;
      padding-top: 10px;
      height: 67px;
      margin-top: 8px;
      color: #b3b3b3;

      @media (min-width: $desktop-width) {
        padding-top: 23px;
      }
    }

    @include font-set(14px, 21px, 300, #b1b1b1, left);

    @media (min-width: $desktop-width) {
      width: 100%;
    }

    &-group--half {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin-top: -6px;
      margin-bottom: 10px;

      @media (min-width: $desktop-width) {
        margin-top: 0;
      }

      .form__input--short {
        width: calc(50% - 7px);
        margin: 0 14px 14px 0;
        margin-right: 14px;

        &:last-child {
          margin-right: 0;
        }
      }

      @media (min-width: $tablet-width) {
        width: 30%;
      }
    }
  }

  &__btn {
    padding: 16px;
    background-color: transparent;
    border: 2px solid #123885;
    cursor: pointer;

    @include font-set (16px, 24px, 500, $blue-btn, center);

    &:hover {
      color: $white;
      background-color: #123885;
    }

    @media (min-width: $tablet-width) {
      margin-top: 19px;
      min-width: 274px;
      border-width: 3px;
      font-size: 18px;
    }

    @media (min-width: $desktop-width) {
      min-width: 192px;
      margin-left: 0;
      margin-right: 25px;
    }
  }

  &__fieldset {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: stretch;

    @media (min-width: $desktop-width) {
      flex-direction: row;
      justify-content: space-between;
      flex-wrap: wrap;
      align-items: start;

      &--user,
      &--address {
        width: 100%;
      }

      &--message {
        width: 49.1%;
      }
    }
  }

  &__label {
    @include font-set(14px, 21px, normal, #757575, left);
    margin-bottom: 12px;

    @media (min-width: $desktop-width) {
      margin-bottom: 8px;
      width: 100%;
    }
  }

  &__footnote {
    @include font-set(12px, 14px, 300, #898989, center);
    padding: 6px 0;
    margin-bottom: 24px;

    @media (min-width: $desktop-width) {
      position: absolute;
      right: 40px;
      bottom: 11px;
      width: 125px;
      padding-left: 40px;
      text-align: left;

      &::before {
        content: "";
        position: absolute;
        top: 5px;
        left: 0;
        border-top-width: 0;
        border-right: 14px solid transparent;
        border-bottom: 23px solid #fff42c;
        border-left: 14px solid transparent;
      }

      &::after {
        content: "!";
        position: absolute;
        top: 11px;
        left: 13px;
        font-weight: 500;
        font-size: 12px;
        line-height: 16px;
        color: #123885;
      }
    }
  }

  &__footer {
    display: flex;
    flex-direction: column;

    @media (min-width: $desktop-width) {
      flex-direction: column-reverse;
      align-items: center;
      margin: auto;
    }
  }
}

@media (min-width: $desktop-width) {
  .form--feedback {
    flex-direction: row;
    flex-wrap: wrap;
    padding: 35px 40px 31px;
  }

  .form__input {
    margin-bottom: 25px;
    padding-left: 14px;
  }

  .form__input--name {
    width: 34%;
  }

  .form__input--tel,
  .form__input--email {
    width: 26%;
  }

  .form__input--street {
    width: 26%;
  }

  .form__input--short {
    width: 20%;
  }

  .form--profile {
    align-items: flex-start;

    .form__btn {
      margin: 0 auto;
      margin-top: 5px;
      min-width: 273px;
    }

    .form__input {
      width: 43%;
    }

    .form__input:last-of-type {
      margin-bottom: 0;
    }
  }
}
