.modal {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 2;
  display: block;
  padding: 32px 25px;
  background-color: $white;

  &__btn {
    position: absolute;
    top: -3px;
    left: 3px;
    z-index: 1;
    display: block;
    width: 26px;
    height: 22px;
    font-size: 0;
    background-color: transparent;
    border: 0;
    cursor: pointer;

    &::before {
      content: "";
      position: absolute;
      top: 3px;
      left: 0;
      width: 15px;
      height: 15px;
      border-bottom: 1px solid #688cd6;
      border-left: 1px solid #688cd6;
      transform: rotate(45deg);
    }

    &::after {
      content: "";
      position: absolute;
      top: 10px;
      left: -2px;
      width: 26px;
      height: 1px;
      background-color: #688cd6;
    }
  }

  &__title {
    margin: 0;
    padding-left: 41px;
    margin-bottom: 34px;

    @include font-set(16px, 16px, 500, #123885, left);

    &::before {
      display: block;
      position: absolute;
      content: "?";
      top: -2px;
      left: 174px;
      width: 18px;
      height: 18px;
      font-size: 14px;
      line-height: 18px;
      color: $black;
      text-align: center;
      border: 1.5px solid $yellow;
      border-radius: 50%;
    }
  }

  &__tabs {
    display: flex;
    width: 100%;
    min-height: 32px;
    margin: 0;
  }

  &__tab {
    display: block;
    flex-grow: 1;
    border: 1px solid #97adef;
    cursor: pointer;
    padding-top: 8px;
    padding-bottom: 8px;

    @include font-set(12px, 12px, normal, $blue-btn, center);

    &--active,
    &:hover {
      color: $white;
      background-color: $blue-btn;
      border-color: $blue-btn;
    }

    &:first-child {
      padding-left: 2px;
      border-top-left-radius: 20px;
      border-bottom-left-radius: 20px;
    }

    &:last-child {
      padding-right: 2px;
      border-top-right-radius: 20px;
      border-bottom-right-radius: 20px;
    }
  }

  &__header {
    position: relative;
    margin-bottom: 29px;
  }

  &__help {
    visibility: hidden;
    display: block;
    position: absolute;
    left: 0;
    bottom: 17px;
    padding: 7px 11px;
    background-color: $black;

    @include font-set(12px, 14px, normal, $white, center);
    width: 208px;

    &::after {
      content: "";
      position: absolute;
      top: -16px;
      right: 36px;
      border: solid 9px transparent;
      border-bottom: 7px solid $black;
    }
  }
}

.modal__title:hover .modal__help {
  visibility: visible;
}
