.navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 16px 21px 16px 14px;

  &--closed .navigation__menu {
    display: none;
  }

  &--opened .navigation__menu {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    right: 0;
    left: 25px;
    z-index: 1;
    padding: 0 22px;
    min-height: 100vh;
    background-color: #123885;
  }

  &--opened .navigation__button {
    position: fixed;
    top: 22px;
    right: 22px;
    z-index: 2;
    width: 22px;
    height: 22px;

    &::after,
    &::before {
      content: "";
      position: absolute;
      top: 10px;
      left: -5px;
      width: 31px;
      height: 2px;
      background-color: #82a2e0;
      box-shadow: none;
    }

    &:hover::after,
    &:hover::before {
      background-color: $yellow;
      box-shadow: none;
    }

    &::after {
      transform: rotate(45deg);
    }

    &::before {
      transform: rotate(-45deg);
    }
  }

  &__logo {
    width: 162px;
    height: 39px;
  }

  &__button {
    position: relative;
    align-self: center;
    width: 26px;
    height: 20px;
    padding: 0;
    font-size: 0;
    border: 0;
    cursor: pointer;
    background-color: transparent;

    &::after {
      content: "";
      position: absolute;
      width: 23px;
      top: 2px;
      right: 1px;
      height: 4px;
      background-color: #263b82;
      box-shadow: 0 7px 0 0 #263b82, 0 14px 0 0 #263b82;
    }

    &:hover::after {
      background-color: $yellow;
      box-shadow: 0 7px 0 0 $yellow, 0 14px 0 0 $yellow;
    }
  }
}

