.navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 16px 21px 17px 14px;

  &__logo {
    width: 162px;
    height: 39px;
  }

  &__button {
    position: relative;
    align-self: center;
    width: 26px;
    height: 20px;
    padding: 0;
    font-size: 0;
    border: 0;
    cursor: pointer;
    background-color: transparent;

    &::after {
      content: "";
      position: absolute;
      width: 24px;
      top: 2px;
      right: 2px;
      height: 4px;
      background-color: #263b82;
      box-shadow: 0 7px 0 0 #263b82, 0 14px 0 0 #263b82;
    }

    &:hover::after {
      background-color: $yellow;
      box-shadow: 0 7px 0 0 $yellow, 0 14px 0 0 $yellow;
    }
  }

  &__menu {
    display: none;
  }
}
