.news {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 44px;
  padding-bottom: 30px;

  @media (min-width: $tablet-width) {
    width: $tablet-width;
    margin: 0 auto;
    padding-top: 53px;
    padding-bottom: 40px;
  }

  @media (min-width: $desktop-width) {
    width: $desktop-width;
  }

  &__tabs {
    display: flex;
    justify-content: space-between;
    width: 170px;

    @media (min-width: $tablet-width) {
      justify-content: center;
      width: 100%;
      margin-bottom: 23px;
    }
  }

  &__tab {
    @include font-set(16px, 16px, bold, #686767);

    @media (min-width: $tablet-width) {
      margin-right: 17px;
      font-size: 26px;
      line-height: 26px;
    }

    &--active,
    &:hover {
      color: $blue-btn;
    }

    &--active::after,
    &:hover::after {
      display: block;
      content: "";
      width: 100%;
      height: 5px;
      background-color: $yellow;
    }
  }

  &__content {
    display: flex;
    flex-direction: row;
    overflow: hidden;
    flex-wrap: nowrap;

    @media (min-width: $tablet-width) {
      flex-wrap: wrap;
      justify-content: flex-start;
    }
  }

  &__item {
    display: none;

    @media (min-width: $tablet-width) {
      display: block;
      width: 30%;
      margin-right: 32px;

      &:nth-child(3n) {
        margin-right: 0;
      }
    }

    @media (min-width: $desktop-width) {
      margin-right: 46px;
    }

    &--active {
      display: block;
    }
  }

  &__wrapper {
    padding: 23px;

    @media (min-width: $tablet-width) {
      padding-top: 23px;
      padding-bottom: 0;
      margin-bottom: 18px;
    }

    @media (min-width: $desktop-width) {
      padding-left: 0;
      padding-right: 0;
    }
  }

  &__indicators {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100px;

    @include list-reset;

    @media (min-width: $tablet-width) {
      display: none;
    }
  }

  &__indicator {
    width: 8px;
    height: 8px;
    margin-right: 15px;
    background-color: $grey;
    border-radius: 50%;
    font-size: 0;

    &:last-of-type {
      margin-right: 0;
    }

    &--active {
      background-color: $blue;
    }
  }
}
