.news {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 44px;

  &__tabs {
    display: flex;
    justify-content: space-between;
    width: 170px;
  }

  &__tab {
    @include font-set(16px, 16px, bold, $blue-btn);

    &--active::after {
      display: block;
      content: "";
      width: 100%;
      height: 5px;
      background-color: $yellow;
    }
  }

  &__content {
    display: flex;
    flex-direction: row;
    overflow: hidden;
    flex-wrap: nowrap;
  }

  &__item {
    display: none;

    &--active {
      display: block;
    }
  }

  &__wrapper {
    padding: 21px 23px;
  }

  &__indicators {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100px;

    @include list-reset;
  }

  &__indicator {
    width: 8px;
    height: 8px;
    margin-right: 15px;
    background-color: $grey;
    border-radius: 50%;
    font-size: 0;

    &:last-of-type {
      margin-right: 0;
    }

    &--active {
      background-color: $blue;
    }
  }
}
