.slider {
  position: relative;

  &__title {
    display: flex;
    justify-content: center;
    margin: 0;
    margin-bottom: -13px;
  }

  &__link {
    @include font-set(18px, 47.47px, bold, $dirtywhite, center);

    @media (min-width: $tablet-width) {
      padding-bottom: 12px;
      font-size: 83.45px;
      line-height: 67.06px;
      border-bottom: 1px solid $dirtywhite;
    }
  }

  &__item {
    display: none;
    padding-bottom: 9px;
    background: url("/img/bg-mobile.jpg") no-repeat #484a51;
    background-size: cover;

    &--active {
      display: block;
    }

    @media (min-width: $tablet-width) {
      padding-top: 147px;
      padding-bottom: 329px;
      background: url("/img/bg-desktop.jpg") #484a51;
      background-repeat: no-repeat;
      background-position: top center;
      background-size: cover;
    }

    &-description {
      @include font-set(11px, 12.01px, 100, $dirtywhite, center);
      margin: 0;

      @media (min-width: $tablet-width) {
        margin-top: 26px;
        font-size: 21.31px;
        line-height: 22.49px;
      }
    }
  }

  &__list {
    @include list-reset;
  }

  &__btn {
    position: absolute;
    top: 21px;
    width: 15px;
    height: 15px;
    padding: 0;
    font-size: 0;
    border: 3.5px solid $dirtywhite;
    cursor: pointer;
    background-color: transparent;
    border-right: none;
    border-top: none;

    &:hover {
      border-color: $yellow;
    }

    @media (min-width: $tablet-width) {
      top: 220px;
      width: 29px;
      height: 29px;
      border-width: 6px;
    }

    &:first-of-type {
      transform: rotate(45deg);
      left: 25px;

      @media (min-width: $tablet-width) {
        left: 50px;
      }
    }

    &:last-of-type {
      transform: rotate(-135deg);
      right: 29px;

      @media (min-width: $tablet-width) {
        right: 57px;
      }
    }
  }

  &__indicators {
    display: none;

    @media (min-width: $tablet-width) {
      position: absolute;
      bottom: 218px;
      left: 46%;

      display: block;
      margin: 0;
      padding: 0;
    }
  }

  &__indicator {
    display: inline-block;
    width: 8px;
    height: 8px;
    margin-right: 21px;

    vertical-align: middle;

    background-color: $white;
    border-radius: 50%;
    cursor: pointer;

    &--active {
      width: 13px;
      height: 13px;

      background-color: transparent;
      border: 3px solid #fff200;
    }
  }
}
