.survice-type {
  display: flex;
  flex-wrap: wrap;
  order: 1;
  margin: 20px 0;
  margin-bottom: 34px;

  @media (min-width: $tablet-width) {
    order: 2;
  }

  &__item {
    margin-right: 18px;

    @include font-set(16px, 16px, 500, $white);
    opacity: 0.2;

    &--active {
      opacity: 1;
    }

    &:hover {
      opacity: 1;
    }

    &--active::after,
    &:hover::after {
      position: relative;
      display: block;
      content: "";
      top: 4px;
      width: 100%;
      height: 4px;
      background-color: $yellow;
    }
  }
}
