.visually-hidden,
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;

  white-space: nowrap;

  border: 0;

  clip: rect(0 0 0 0);
  clip-path: inset(100%);
}


///////////****************************/////////////////////

.bg-arrow_blue {
  width: 41px;
  height: 24px;
  background: url("css_sprites.png") -334px -10px;
}

.bg-Ellipse_19 {
  width: 35px;
  height: 30px;
  background: url("css_sprites.png") -110px -10px;
}

.bg-Ellipse_19_blue {
  width: 35px;
  height: 30px;
  background: url("css_sprites.png") -165px -10px;
}

.bg-Ellipse_20 {
  width: 37px;
  height: 27px;
  background: url("css_sprites.png") -220px -10px;
}

.bg-Ellipse_20_yel {
  width: 37px;
  height: 27px;
  background: url("css_sprites.png") -277px -10px;
}

.bg-phone_blue {
  width: 30px;
  height: 30px;
  background: url("css_sprites.png") -10px -10px;
}

.bg-Rounded_Rectangle_22_copy {
  width: 41px;
  height: 24px;
  background: url("css_sprites.png") -395px -10px;
}

.bg-Rounded_Rectangle_24_copy_3 {
  width: 30px;
  height: 30px;
  background: url("css_sprites.png") -60px -10px;
}
