$deepgrey: #1d2631;
$darkgrey: #6e6e6e;
$white: #eff2f9;
$blue: #182a6f;
$yellow: #fbf239;
$black: #000000;
$lightgrey: #f0f2f9;
$grey: #d8dbe6;
$mobile-width: 320px;
$desktop-width: 1072px;
$mobile-width-only: 319px;
$tablet-width-only: 659px;
